// Variables
$max-container: 1000px;

$primary-color: #333;
$secondary-color: hsl(50,100%,45%);
$color-font1: #FFF;

$font-family: 'Playfair Display', serif;
$font-size: 16px;

$gutter: 1em;
$bp-s: 320px;
$bp-m: 640px;
$bp-l: 1024px;
