section.Contact
    .Contact-container
        h2.Contact-title Contact us
        input.Contact-inputName(type="text" placeholder="Name")
        input.Contact-inputEmail(type="text" placeholder="Email")
        input.Contact-inputSubject(type="text" placeholder="Subject")
        textarea.Contact-inputMessage(placeholder="Message", cols="20", rows="5")
        button.Contact-inputSubmit.button(type="submit") Send
