section.Features
    .Features-container
        .Feature-containerImg
            h3.Feature-title Catalog
                span shoot
        .Feature-containerImg
            h3.Feature-title Sweet
                span october
        .Feature-containerImg
            h3.Feature-title Cruise
                span Workshop
        .Feature-containerImg
            h3.Feature-title Wedding
                span photography
