footer.Footer
    .Footer-containerLogo
        h2.Footer-title Instant
    .Footer-containerSociales
        ul.Footer-socialesList
            li.Footer-socialesListItem
                a.Footer-socialesListLink.icon-facebook(href="#")
            li.Footer-socialesListItem
                a.Footer-socialesListLink.icon-twitter(href="#")
            li.Footer-socialesListItem
                a.Footer-socialesListLink.icon-google-plus(href="#")
            li.Footer-socialesListItem
                a.Footer-socialesListLink.icon-youtube(href="#")
            li.Footer-socialesListItem
                a.Footer-socialesListLink.icon-linkedin(href="#")
            li.Footer-socialesListItem
                a.Footer-socialesListLink.icon-instagram(href="#")
