section.Navigation
    .Logo
        h2.Logo-title Instant
    .Menu
        .Menu-toggle#navId-toggle.icon-menu Menu
        nav.Menu-nav#navId
            ul.Menu-list#menuId
                li.Menu-listItem: a.Menu-listLink(href="#") Home
                li.Menu-listItem: a.Menu-listLink(href="#") About us
                li.Menu-listItem: a.Menu-listLink(href="#") News
                li.Menu-listItem: a.Menu-listLink(href="#") Gallery
                li.Menu-listItem: a.Menu-listLink(href="#") Blog
                li.Menu-listItem: a.Menu-listLink(href="#") Contacts
