section.Welcome
    .Welcome-container
        h2.Welcome-title Welcome
        p.Welcome-description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ut laborum natus aspernatur doloremque ab minus soluta laudantium placeat explicabo eum.
        button.Welcome-button.button(type="submit") Read more
